html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.container {
  position: absolute;
  width: 450px;
  margin-left: 10%;

  margin-top: 40px;
  border: solid grey 1px;
  border-radius: 15px;
}
.title {
  margin-left: 65px;
  color: #1FB64C;
  padding-bottom: 25px;

}
.list-head {
  color: #9799A7;
}

.list{
  margin-left: 20px;
  width: 300px;
  color: #ddd;

  }
  .list a{
    text-decoration: none;
    color: #1185CD;
    border-bottom: solid #CECFD5 2px;
  }
.list li{
  margin-left: 27px;
  font-size: 1.5rem;
  padding-bottom: 8px;
  color: #CECFD5;
  font-color: #1185CD;
  text-decoration: none;


}
.img{
  margin-left: 30px;
  margin-top: -5px;
  font-size: 1.8rem;
  display: inline-block;
}

.img i {
  padding-right: 30px;
  color: #CFCFCF;
  font-size: 4rem;
}

.two {
  position: relative;
  bottom: 420px;
  left: 355px;
  color: #FFFFFF;
  font-size: 55px;
  background-color: #CECFD5;
  width: 125px;
  height: 125px;
  text-align: center;
  border-radius: 50%;
  line-height: 125px;
}
